body{
    margin: 0px;
}

#content{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    font-family: sans-serif;
}

.bar{
    background-color: rgb(13, 26, 34);
    width: 100%;
    height: 50px;
    position: relative;
}

.logo img{
    width: 100%;
    height: 100%;
}

.logo{
    margin: 0px;
    display: inline-block;
    height: 40px;
    width: 115px;
    position: absolute;
    left: 180px;
    top: 3px;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 35px;
}

.menu{
    position: absolute;
    right: 30px;
    top: 0px;
}

.menu a{
    color: rgb(91, 101, 110);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    transition: color 0.3s linear;
}

.menu a:hover{
    color:white;
}

.bg-header{
    background-image: url(/files/imagens/topo.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: bottom left;
}

article{
    padding: 60px;
}

.content1 h1{
    font-size: 40px;
    font-weight: bold;

}
.content1 p{
    font-size: 20px;
    line-height: 2;
    color: rgb(82, 81, 81);
}

.content2 div{
    display: inline-block;
    width: 30%;
}

.margin{
    margin-right: 4%;
}

.content2 div img{
    width: 100%;
}

.content2 h2{
    font-size: 23px;
    text-transform: uppercase;
    color: rgb(82, 81, 81);
    letter-spacing: 2px;
}

.content2 p{
    font-size: 18px;
    color: rgb(155, 153, 153);
    letter-spacing: 2px;
}

.content3{
    background-color: #003d52;
    background-image: url(/files/imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.content3 h1{
    color: white;
    text-align: left;
    margin: 0;
    font-size: 40px;
}

.content3 p{
    color: white;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 2px;
}

footer{
    background-color: rgb(13, 26, 34);
    color: white;
    height: 50px;
}

.end h2, p {
    color: rgb(23, 49, 65);
}

footer p{
    font-size: 10px;
    padding: 20px;
}